/* .red-text {
  color: red;
} */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  flex-grow:1;
  margin: 20px;
}

.app-title {
  margin: 0 auto;
  font-size: 24px;
}

.save-button {
  background-color: #d4d7d4;
  border-color: black;
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 50px;
  cursor: pointer;
  align-self:flex-end;
}

.editor-container {
  border: 2px solid #000000;
  margin: 30px;
  padding: 50px;
  height: 500px; 
  border-radius: 2%;
}
